<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing</title>
    <link href="/css/landing-page.css" rel="stylesheet">
</head>
<body>

    <main>
        <div id="header">
            <h1>
                Welcome to the best "ToDo Planner"!
            </h1>
        </div>
        <div id="main">
            <div id="text">
                Here you can add new tasks, mark them "done" or remove at all
            </div>
            <div id="form">
                <a href="/login">Lets try</a>
            </div>

        </div>
    </main>

</body>
</html>