<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/log-in-page.css" rel="stylesheet">
</head>
<body>
  <main>
    <div id="header">
      <h2>Login</h2>
    </div>
    <div id="form">
      <form method="post" action="/login">
        <div class="input" id="email">
          <label>
            <input type="email" name="email" placeholder="Enter your email">
          </label>
        </div>
        <div id="password" class="input" >
          <label>
            <input type="password" name="password" placeholder="Enter your password">
          </label>
        </div>
        <div th:if="${isError}">Invalid username or password</div>
        <div id="log-in">
          <input type="submit" value="Log in">
        </div>
      </form>
      <div id="to-log-in">
        Dont have an account? <a href="/registration">Sign up</a>
      </div>
    </div>
  </main>
</body>
</html>