<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/mail-page.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>mail</title>
</head>
<body>
  <header>
      <h2>Введите код, который пришел вам на почту</h2>
  </header>
  <main>
      <form action="/mail/registration">
          <input type="hidden" name="email" th:value="${userRegistration.getEmail()}">
          <label>
              <input type="text" name="token" placeholder="Type code">
          </label>
          <input type="submit">
      </form>
  </main>
</body>
</html>