<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link href="/css/sign-up-page.css" rel="stylesheet">
</head>
<body>
<main>
  <div id="header">
    <h2>Registration</h2>
  </div>
  <div id="form">
    <form>
      <div id="name">
        <label>
          <input type="text" name="name" placeholder="Enter your name">
        </label>
      </div>
      <div id="email">
        <label>
          <input type="email" name="email" placeholder="Enter your email">
        </label>
      </div>
      <div id="password">
        <label>
          <input type="password" name="password" placeholder="Enter your password">
        </label>
      </div>

      <div id="sign-up">
        <input type="submit" value="Sign up">
      </div>
      <div id="to-log-in">
        Already have an account? <a href="/login">Log in</a>
      </div>
    </form>
  </div>
</main>
</body>
</html>