body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

main, #form, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label input{
    margin: 6px;
    padding: 10px;
}
#sign-up{
    display: flex;
    justify-content: center;
    margin: 7px;
}

#sign-up input{
    padding: 7px;
}

