<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/css/error-page.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1 id="header">
      Произошла ошибка
    </h1>
  </header>

  <main>
    <div id="main-div">
      <span id="mainText">
        Приносим свои извинения, мы уже знаем об этой ошибке работаем над ней
      </span>
    </div>
    <div id="button-to-home">
        <form action="/">
            <input type="submit" value="Нажмите чтобы вернуться на главную страницу">
        </form>
    </div>
  </main>

</body>
</html>