<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/login-page.css" rel="stylesheet">
</head>
<body>
  <main>
    <div id="header">
      <h2>Login</h2>
    </div>
    <div id="form">
      <form>
        <div id="email">
          <label>
            <input type="email" name="email" placeholder="Enter your email">
          </label>
        </div>
        <div id="password">
          <label>
            <input type="password" name="password" placeholder="Enter your password">
          </label>
        </div>
        <div id="log-in">
          <input type="submit" value="Log in">
        </div>
      </form>
    </div>
  </main>
</body>
</html>