<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>
    <link href="/css/main-page.css" rel="stylesheet">
</head>
<body>
    <section id="to-do-list">
        <div id="header">
            <h2 id="title">ToDo List</h2>
            <span id ="statistics" th:text="${countDone} + 'more to do, ' + ${countActive} + ' done'"></span>
        </div>

        <div id="for-form">
            <form>
                <div id="form">
                    <div id="button-radio">
                        <label>
                            <input type="radio" name="for-sort" checked>All
                        </label>
                        <label>
                            <input type="radio" name="for-sort" >Active
                        </label>
                        <label>
                            <input type="radio" name="for-sort" >Done
                        </label>
                    </div>
                    <div id="button-apply">
                        <input type="button" value="Apply">
                    </div>
                </div>
            </form>
        </div>
        <div id="affairs">
            <div th:class = "${task.getStatusTask().name() == 'DONE' ? 'done-task' : 'active-task'}" th:each="task: ${tasks}">
                <div class="name">
                    <span th:text="${task.getName()}"></span>
                </div>
                <div class="buttons-for-task">
                    <form action="">
                        <div class="done" th:if="${task.getStatusTask().name() != 'DONE'}">
                            <input type="submit" value="">
                        </div>
                    </form>
                    <form action="/task/remove">
                        <div class="remove">
                            <input type="submit" value="">
                            <input type="hidden" name="id" th:value="${task.getId()}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="new-affair">
            <form action="/task/create" method="post">
                <div id="name-for-new-affair">
                    <input type="text" name="name" placeholder="What needs to be done">
                </div>
                <div id="button-for-add">
                    <input type="submit" value="Add Record">
                </div>
            </form>
        </div>
    </section>
</body>
</html>